{% extends "app/layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/admin-mongo.css' %}" />
    {% if toolbar %}
        <div class="row">
            <div class="col-md-12">
                <div class="toolbar">
                    <button class="btn btn-default btn-danger hide" type="button">Delete</button>
                    <button class="btn btn-default" type="button">Add</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% if DATABASE and collections %}
        <div class="row">
            <div class="col-md-12">
                <div class="collection-header-wrapper"><span class="collection-header">Collections </span></div>
            </div>
        </div>
        {% for collection in collections %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="collection"><a href="collection/{{ collection }}">{{ collection }}</a></div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if COLLECTION and data %}
        <div class="row">
            <div class="col-md-12">
                <div class="collection-header-wrapper"><span class="collection-header">Collection: {{ collection_name }}</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            {% if data|length > 0 %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                {% for field in data.0 %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in data %}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    {% for field in data.0 %}
                                        <td>{{ doc|get_item:field }}</td>
                                    {% endfor%}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/admin-mongo.js' %}"></script>
{% endblock %}
