<!DOCTYPE html>

{% extends "app/layout.html" %}

{% block content %}

	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/departments.css' %}" />

	<!--find package tab-->
	<a href="regular_packages.html">
	<div class="img-top-slider">
		<div class="div-button-middle">ค้นหาแพคเกจ</div>
	</div>
	</a>
	<!--end find package tab-->

	{% for department in departments %}

	<div>

		<div id="allpage">

					<div id="span1"> {{ department.department_id }}</div>
					<div id="crossline"></div>
					<div id="box">
						
						<ul class="department-ul">
								<li class="department-li"><a href="#"><span class="department-span"> {{ package.package_name }} </span></a></li>
						</ul>
					</div>

		</div>
	</div>
	{% endfor %}

	{% for department in departments %}

	<div>

		<div id="allpage">

					<div id="span1"> {{ department.department_name }} </div>
					<div id="crossline"></div>
					<div id="box">
						{% for department in departments %}
						<ul class="department-ul">
								<li class="department-li"><a href="#"> {{ department.department_name }} <span class="department-span"> </span></a></li>
						</ul>
						{% endfor %}
					</div>

		</div>
	</div>
	{% endfor %}
	<!-- เพิ่มแผนกแบบนี้ -->


	<div>
		<div id="allpage">
				<div id="span1">ear</div>
				<div id="crossline"></div>
				<div id="box">
				<ul class="department-ul">
					<li class="department-li"><a href="#"><span class="department-span">แพ็กเกจตรวจโรคในหู</span></a></li>
					<li class="department-li"><a href="#"><span class="department-span">แพ็กเกจตรวจโรคในคอ </a></li>
					<li class="department-li"><a href="#"><span class="department-span">แพ็กเกจตรวจโรคในจมูก</span></a></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}

<!--{% block scripts %}
<script src="{% static 'app/scripts/departments.js' %}"></script>
{% endblock %}-->

