{% extends "app/layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/doctor-detail.css' %}" />
    <div class="container">
        <div class="row doctor">
            <div class="col-sm-4"><img class="doctor-image"></div>
            <div class="col-sm-8 doctor-content">
                <h3>นายแพทย์กนกพล กุลศรี</h3>
                <div class="doctor-content-detail">
                    <div class="row">
                        <div class="col-xs-4"><span>ชำนาญพิเศษ </span></div>
                        <div class="col-xs-8"><span>เวชศาสตร์ครอบครัว, อายุรศาสตร์</span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><span>เฉพาะทาง </span></div>
                        <div class="col-xs-8"><span>- </span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><span>ภาษา </span></div>
                        <div class="col-xs-8"><span>ไทย, อังกฤษ, เกาหลี</span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4"><span>การศึกษา </span></div>
                        <div class="col-xs-8">
                            <span>2545 เวชศาสตร์ครอบครัว (Thai Medial Council)<br>
    2529 อายุรศาสตร์ (Thai Medical Council Khon Khan)<br>
    2523 แพทย์ศาสตร์บัณฑิต (มหาวิทยาลัยขอนแก่น) </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row schedule-container round-border row-top-margin">
            <div class="col-md-12">
                <nav>
                    <ul class="pager">
                        <li class="previous"><a href="#">Older</a></li>
                        <li class="next"><a href="#">Newer</a></li>
                    </ul>
                </nav>
                <div class="schedule">
                    <div class="col-md-3 col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">วันศุกร์ 1 กันยายน</h3></div>
                            <div class="panel-body">
                                <ul class="time">
                                    <li>08:30 - 9:30</li>
                                    <li>09:30 - 10:30</li>
                                    <li>10:30 - 11:30</li>
                                    <li>11:30 - 12:30</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row appointment-detail round-border row-top-margin padding-row">
            <div class="col-md-8">
                <p>นัดหมายกับ </p>
                <p>พฤหัสบดี, 07 .........................</p>
            </div>
            <div class="col-md-4 confirm-appointment-container">
                <button class="btn" type="button" id="confirm-appointment">ยืนยันการนัดหมายแพทย์ </button>
            </div>
        </div>
    </div>
{% endblock %}
