{% extends "app/layout.html" %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/doctor.css' %}" />
    <div class="container">
        <div>
            <div class="row" id="depart">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 div-title-department" id="department">
                    <span class="doc-page">แผนกศัลยกรรม </span></div>
            </div>
        </div>
            <div class="div-detail-department">
              <div class="row" id="con_dep">
                  <div class="col-md-12">
                      <p class="doc-page"> บริการตรวจวินิจฉัย รักษาและผ่าตัดโรคศัลยกรรมทั่วไป เช่น &nbsp;ไส้ติ่ง, ก้อนหรือถุงน้ำที่เต้านม, ก้อนที่ขาหนีบ, ผ่าฝี, ตาปลา, ทำแผล-เย็บแผล จากอุบัติเหตุต่างๆ, &nbsp;ริดสีดวงทวารหนัก,&nbsp;บริการส่องกล้องดูความผิดปกติของกระเพาะอาหาร/
                          ลำใส้ใหญ่ส่วนปลาย / ลำใส้ใหญ่ต่อทวารหนัก &nbsp;รวมถึงบริการเจาะเลือดตรวจหาความเสี่ยงมะเร็งลำไส้, มะเร็งตับ &nbsp;เป็นต้นParagraph</p>
                  </div>
              </div>
              <div class="row" style="width: 100%; margin-left:0px;">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                      <div class="row">
                          <div class="col-md-12 doc_info"><img id="doc-img"></div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info">
                              <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                              <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info" id="button">
                              <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                              <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                      <div class="row">
                          <div class="col-md-12 doc_info"><img id="doc-img"></div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info">
                              <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                              <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info" id="button">
                              <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                              <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                      <div class="row">
                          <div class="col-md-12 doc_info"><img id="doc-img"></div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info">
                              <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                              <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info" id="button">
                              <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                              <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                      <div class="row">
                          <div class="col-md-12 doc_info"><img id="doc-img"></div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info">
                              <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                              <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 doc_info" id="button">
                              <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                              <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- อีกแผนก ใส่แบบนี้ -->
        <div class="container">
            <div>
                <div class="row" id="depart">
                    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 div-title-department" id="department">
                        <span class="doc-page">แผนกศัลยกรรม </span></div>
                </div>
            </div>
                <div class="div-detail-department">
                  <div class="row" id="con_dep">
                      <div class="col-md-12">
                          <p class="doc-page"> บริการตรวจวินิจฉัย รักษาและผ่าตัดโรคศัลยกรรมทั่วไป เช่น &nbsp;ไส้ติ่ง, ก้อนหรือถุงน้ำที่เต้านม, ก้อนที่ขาหนีบ, ผ่าฝี, ตาปลา, ทำแผล-เย็บแผล จากอุบัติเหตุต่างๆ, &nbsp;ริดสีดวงทวารหนัก,&nbsp;บริการส่องกล้องดูความผิดปกติของกระเพาะอาหาร/
                              ลำใส้ใหญ่ส่วนปลาย / ลำใส้ใหญ่ต่อทวารหนัก &nbsp;รวมถึงบริการเจาะเลือดตรวจหาความเสี่ยงมะเร็งลำไส้, มะเร็งตับ &nbsp;เป็นต้นParagraph</p>
                      </div>
                  </div>
                  <div class="row" style="width: 100%; margin-left:0px;">
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                          <div class="row">
                              <div class="col-md-12 doc_info"><img id="doc-img"></div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info">
                                  <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                                  <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info" id="button">
                                  <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                                  <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                          <div class="row">
                              <div class="col-md-12 doc_info"><img id="doc-img"></div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info">
                                  <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                                  <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info" id="button">
                                  <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                                  <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                          <div class="row">
                              <div class="col-md-12 doc_info"><img id="doc-img"></div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info">
                                  <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                                  <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info" id="button">
                                  <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                                  <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 person">
                          <div class="row">
                              <div class="col-md-12 doc_info"><img id="doc-img"></div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info">
                                  <p class="doc-page">นายแพทย์กนกพล กุลศรี </p>
                                  <p class="doc-page">แพทย์ผู้เชื่ยวชาญพิเศษ </p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 doc_info" id="button">
                                  <button class="btn btn-default my-btn" type="button" id="meet_doc">นัดหมายหมอ</button>
                                  <button class="btn btn-default my-btn" type="button" id="de_doc">ดูรายละเอียดหมอ</button>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
