{% extends "app/layout.html" %} {% block content %} {% load staticfiles %}
<!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'app/css/login.css' %}" /> {% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand"> Hello {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>
{% else %}
<div class="box">
    <div class="title-login">
        <label class="text-title-login">ระบบล็อคอิน </label>
    </div>
    <div class="box-tab-detail">
        <div class="tab-under-title"></div>
        <div class="dsetail-login">
            <section id="loginForm">
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %} {% comment %}
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    {% endcomment %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="box-username">
                        <div class="title-username">
                            <label for="id_username" class="col-md-2 control-label">Username</label>
                        </div>
                        <div class="input-username">
                            <input type="text" name="username">
                        </div>
                    </div>
                    <div class="box-password">
                        <div class="title-password">
                            <label for="id_password" class="col-md-2 control-label">Password</label>
                        </div>
                        <div class="input-password">
                            <input type="password" name="password">
                        </div>
                    </div>
                    <div class="box-button-detail">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Log in" class="btn btn-default btn-login" />
                        </div>
                    </div>
                    <div style="text-align:center;font-size:16px;margin-top:5px;">
                        <a href="/signup/" style="color:gray">สมัครสมาชิก</a>
                    </div>
                    {% if error %}
                    <br>
                    <div style="text-align:center;font-size:16px;margin-top:5px;">
                        <p class="validation-summary-errors">Please enter a correct username and password.</p>
                    </div>
                    {% endif %}
                </form>
            </section>
        </div>
    </div>
</div>
{% endif %}

<script src="{% static 'app/scripts/jquery.min.js' %}"></script>
<script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
