{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
    <!-- <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/register-styles.css' %}" />
    <div class="plamm">
        <h1 class="text-muted plammm">ระบบสมัครสมาชิก </h1></div>
    <div class="plam">
        <div class="teub"></div>
        <div class="marr">
            <div class="col1">
                <div class="ddus"><span>username</span></div>
                <div class="us">
                    <input type="text" id="iUsername" class="inuser">
                </div>
            </div>
            <div class="col1">
                <div class="ddidcard"><span>เลขบัตรประชาชน </span></div>
                <div class="id">
                    <input type="text" id="iIDCard" class="inid">
                </div>
            </div>
            <div class="col1">
                <div class="ddmr"><span>คำนำหน้า </span></div>
                <div class="mr">
                    <input type="text" id="iMr" class="inmr">
                </div>
                <div class="name"><span>ชื่อ </span>
                    <input type="text" id="iName" class="inname">
                </div>
                <div class="surname"><span>นามสกุล </span>
                    <input type="text" id="iSurname" class="insurname">
                </div>
            </div>
            <div class="col1">
                <div class="ddmr"><span>วันเกิด </span></div>
                <div class="dbir">
                    <input type="date" id="iBirthday" class="inbirth">
                </div>
                <div class="dold"><span>อายุ</span>
                    <input type="number" id="iAge" class="inold">
                </div>
                <div class="dsex"><span>เพศ</span>
                    <input type="text" id="iSex" class="insex">
                </div>
                <div class="dblood"><span>หมู่เลือด </span>
                    <input type="text" id="iBlood" class="inblood">
                </div>
            </div>
            <div class="col1">
                <div class="ddmr"><span>เชื้อชาติ </span></div>
                <div class="dnational">
                    <input type="text" id="iRace" class="innational">
                </div>
                <div class="dnationn"><span>สัญชาติ </span>
                    <input type="text" id="iNationality" class="innationn">
                </div>
                <div class="dregion"><span>ศาสนา </span>
                    <input type="text" id="iReligious" class="inregion">
                </div>
                <div class="dnow"><span>สถานภาพ</span>
                    <select id="iNow" class="innow">
                        <optgroup label="สถานภาพปัจจุบัน">
                            <option value="12" selected="">โสด</option>
                            <option value="13">สมรส</option>
                            <option value="14">หม้าย</option>
                            <option value="">หย่า</option>
                            <option value="">แยกกันอยู่</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col1">
                <div class="ddmr"><span>อาชีพ </span></div>
                <div class="dcareer">
                    <input type="text" id="iCareer" class="incareer">
                </div>
                <div class="dlive"><span>ที่อยู่ </span>
                    <input type="text" id="iLive" class="inlive">
                </div>
            </div>
            <div class="col1">
                <div class="dlive2">
                    <input type="text" id="iLive2" class="inlive2">
                </div>
            </div>
            <div class="col1">
                <div class="dlok"><span>โรคประจำตัว </span>
                    <input type="text" id="iLok" class="inlok">
                </div>
                <div class="demail"><span>E-mail </span>
                    <input type="email" id="iEmail" class="inemail">
                </div>
            </div>
            <div class="col1">
                <div class="dtel"><span>เบอร์โทร </span>
                    <input type="tel" id="iTel" class="intel">
                </div>
            </div>
            <div class="col1">
                <div class="dfather"><span>ชื่อ-นามสกุลของบิดา </span>
                    <input type="text" id="iFather" class="infather">
                </div>
            </div>
            <div class="col1">
                <div class="dmother"><span>ชื่อ-นามสกุลของมารดา </span>
                    <input type="text" id="iMother" class="inmother">
                </div>
            </div>
            <div class="col1">
                <div class="demername"><span>ชื่อผู้ที่ติดต่อได้ฉุกเฉิน </span>
                    <input type="text" id="iEmerName" class="inemername">
                </div>
                <div class="dtelmer"><span>เบอร์โทรศัพท์ </span>
                    <input type="tel" id="iEmerTel" class="intelmer">
                </div>
            </div>
            <div class="col1">
                <div class="demerlive"><span>ที่อยู่ของผู้ที่สามารถติดต่อได้ฉุกเฉิน </span>
                    <input type="text" id="iEmerLive" class="inemerlive">
                    <div class="col1"></div>
                </div>
            </div>
            <div class="col1">
                <div class="demerlive">
                    <div class="col1"></div>
                </div>
            </div>
            <div class="col1 confirmcheckbox">
                <div class="daccept">
                    <input type="checkbox" class="inputplamplamplam"><span class="plamplamplam">ข้าพเจ้ายินยอมเปิดเผยข้อมูลการตรวจรักษาของข้าพเจ้าให้แก่ คณะแพทย์ ,พยาบาล, </span></div>
            </div>
            <div class="col1 confirmcheckbox">
                <div class="daccept"><span class="plamplamplam">เจ้าหน้าที่และบุคลากรของโรงพยาบาลที่เกี่ยวข้อง ซึ่งมีความจำเป็นในการเข้าถึงข้อมูลของข้าพเจ้า </span></div>
            </div>
            <div class="col1">
                <button class="btn btn-default button" type="button">ลงทะเบียน </button>
            </div>
            <div class="col1"></div>
            <div class="col1"></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
