
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <div class="box-all-content">
        <div class="box-background-heading">
            <h1 class="box-heading">ระบบสมัครสมาชิก </h1></div>
        <div class="box-border">
            <div class="edge-top"></div>
            <div class="box-indent">
                <div class="input-indent-vertical"></div>
                <div class="row row-username">
                    <div class="col-md-12"><span class="box-span">username </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="username" class="input-username">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">password </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="input-username">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">confirm password</span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="input-username">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">เลขบัตรประชาชน </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="id_card_number" class="input-id-card">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">คำนำหน้า </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="patient_name_title" class="input-name-title">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ชื่อ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="patient_name" class="input-name">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">นามสกุล </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="patient_surname" class="input-name">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">วันเกิด </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="วว" id="birthday_day" class="input-birthday-day"><span>/ </span>
                        <input type="text" placeholder="ดด" id="birthday_month" class="input-birthday-month"><span>/ </span>
                        <input type="text" placeholder="ค.ศ." id="birthday_year" class="input-birthday-year">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">อายุ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="number" class="input-age">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">เพศ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="ชาย/หญิง" id="gender" class="input-gender">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">หมู่เลือด </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="A/B/O/AB" id="blood_group_abo" class="input-blood-type">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">Rh </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="+/-" id="blood_group_rh" class="input-rh">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">เชื้อชาติ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="race" class="input-race">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">สัญชาติ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="nationallity" class="input-race">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ศาสนา </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="Religion" class="input-race">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">สถานภาพ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="Status" class="input-race">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">อาชีพ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="input-career">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ที่อยู่ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="pateint_address" class="input-address">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">โรคประจำตัว </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="congenital_disease" class="input-congenital-disease">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">E-mail </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="email" id="email" class="input-email">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">เบอร์โทร </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="tel" id="telphone_number" class="input-telphone-number">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ชื่อ-นามสกุลของบิดา </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="father_name" class="input-name-parents">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ชื่อ-นามสกุลของมารดา </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="input-name-parents">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ชื่อผู้ที่ติดต่อได้ฉุกเฉิน </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="emergency_name" class="input-name-parents">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">เบอร์โทรศัพท์ </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="tel" id="emergency_phone" class="input-telphone-number">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12"><span class="box-span">ที่อยู่ของผู้ที่ติดต่อได้ฉุกเฉิน </span></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="emergency_addr" class="input-address">
                    </div>
                </div>
                <div class="input-indent-vertical"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label class="box-accept-condition">
                                <input type="checkbox"> ข้าพเจ้ายินยอมเปิดเผยข้อมูลการตรวจรักษาของข้าพเจ้า ให้แก่คณะแพทย์, พยาบาล, เจ้าหน้าที่และบุคลากรของโรงพยาบาลที่เกี่ยวข้องซึ่งมีความจำเป็นในการเข้าถึงข้อมูลของข้าพเจ้า</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="submit" class="button-accept"><span class="label-register">ลงทะเบียน </span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>