{% extends 'app/layout.html' %} 

{% load bootstrap %} {% load i18n %} {% block head_title %}{% trans "ลงทะเบียน" %}{% endblock %} {% block content %}
<h1>{% trans "ลงทะเบียนใช้งาน" %}</h1>

<p>{% blocktrans %}มีบัญชีแล้วหรือเปล่า ? กรุณา <a href="/login">ลงชื่อเข้าใช้</a>.{% endblocktrans %}</p>

<form id="signup_form" method="post" action=".">
    {% csrf_token %} {{ form|bootstrap }} {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
    </div>
</form>

{% endblock %}