form#confirm.form-inline{
  text-align:center;
  width:100%;
}

span.label.label-default{
  color:black;
  background-color:transparent;
  font-weight:normal;
  font-size:16px;
}

div.checkbox{
  font-size:16px;
}

h3#day{
  text-align:left;
  font-size:16px;
}

h3#time{
  text-align:left;
  font-size:16px;
}

div.col-md-3.info{
  height:250px;
}

button.btn.btn-default.btn-res{
  width:70%;
  font-size:16px;
  margin-top:15px;
}

div.col-md-3.res{
  text-align:center;
  padding:5px;
  /*width:30%;*/
  margin:5px;
}

div#result.container{
  padding:10px;
  width:100%;
  text-align:center;
}

button#summit.btn.btn-default{
  width:150px;
  font-size:16px;
}

div#choose-manual{
  border:1px solid #c0dfd9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size:16px;
  width:100%;
  margin-bottom: 30px;
}

input[type=checkbox]{
  height:16px;
}

div#all-page{
  padding:5px;
  margin:auto;
  max-height:100%;
  max-width:800px;
}

div#head{
  height:40px;
  background-color:#c0d9df;
  width:300px;
  padding: 7px 0 0 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*text-align:center;*/
}

div#crossline{
  background-color:#8dd9ca;
  height: 5px;
  border-top-right-radius: 5px;
}

h1#page-heading{
  font-size:20px;
}

label.set-first-check{
  margin-top:8px;
}

input.form-control.name{
  height:25px;
  width:150px;
}

div#firstname.form-group{
  margin-left:10px;
}

form#gender.form-inline{
  margin-left:10px;
  font-size:16px;
  width:100%;
}

label#female{
  margin-left:10px;
}

div#lastname.form-group{
  margin-left:20px;
}

h4{
  font-size:14px;
}

div.col-md-2.col-sm-3.info{
  height:150px;
}

div.container.plammmmm{
  width:100%;
}

div.plamdivtest{
  width:100%;
  text-align:center;
}

div.container.auto-set{
  width:100%;
  height:100%;
}

form#name.form-inline{
  width:100%;
}

div#time-d.col-md-2.info{
  text-align:center;
}

div.col-md-2.info{
  height:160px;
}

div.plamimg{
  width:100%;
  background-color:transparent;
}

div.result-block{
  width:30%;
  display:inline-block;
  float:left;
  margin: 20px 0 0 20px;
  padding: 20px 0 20px 0;
  border: 1px solid #c0dfd9;
}

div.div-img-circle{
  width:100%;
}

div#manual-page{
  width:100%;
  height:100%;
}

div#auto-page{
  width:100%;
  height:100%;
}

img.img-cir{
  border-radius:100%;
  width:100px;
  height:100px;
  background-color: #c0d9df;
}

div.container{
  width:100%;
  padding:10px;
}

div#auto-result.container{
  padding:10px;
  width:100%;
  text-align:center;
}

div.auto-result-block{
  width:30%;
  display:inline-block;
  float:left;
  margin-left:15px;
  padding: 20px 0 20px 0;
  border: 1px solid #c0dfd9;
}

div.div-name{
  margin-top: 10px;
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.div-name span{
  white-space: nowrap;
}

span#heading{
  font-size:20px;
}

span.span-heading{
  font-size:20px;
}

span.span-normal{
  font-size: 16px;
}

span.span-detail{
  font-size:16px;
  width:100%;
}

button.btn.btn-default.btn-summit{
  width:150px;
  font-size:16px;
}

div.container.container-set{
  padding:10px;
  width:100%;
  text-align:center;
}

li.nav-head{
  width:50%;
}

.checkbox-styled {
  position: relative;
  top: 2.5px;
  right: 2.5px;
}

.span-styled {
  position: relative;
  top: 2px;
}

a{
  color: black;
}

.hide {
  display: none;
}
/*plam*/
@media (max-width:991px){
  .head-1{
    display:inline-block;
    float:left;
    width:30%;
  }
  .head-2{
    display:inline-block;
    float:left;
    width:70%;
  }
  .head-3{
    display:inline-block;
    float:left;
    width:30%;
  }
  .head-4{
    display:inline-block;
    float:left;
    width:70%;
  }
  .div-data-wrapper-top{
    display:inline-block;
    width:100%;
  }
  .div-data-wrapper-below{
    width:100%;
    background-color: ;
  }
  div#firstname.form-group{
    margin:0;
    width: 250px;
    display:inline-block;
    float:left;
  }
  #firstname.span-name{
    display:inline-block;
    float:right;
    margin:0;
  }
  #in-firstname{
    display:inline-block;
  }
  div#lastname.form-group{
    margin:0;
    width: 250px;
    display:inline-block;
    float:left;
  }
  #lastname.span-name{
    display:inline-block;
    float:right;
    margin:0;
  }
  #in-lastday{
    display:inline-block;
  }
  div.col-md-3.info{
    height:100px;
  }
}

@media (max-width:767px){
  .div-data-wrapper-below-gender{
    display:none;
  }
  div.result-block{
    width:50%;
    margin:0;
  }
  div.auto-result-block{
      width:50%;
      margin:0;
  }
}

@media (max-width:551px){
  .div-data-wrapper-below-buttonseach{
    width:100%;
    margin:auto;
    margin-top: 30px;
  }
  div.result-block{
    width:100%;
  }
  div.auto-result-block{
    width:100%;
  }
  div#firstname.form-group{
    margin:0;
    width: 100%;
    display:inline-block;
    float:left;
  }
  #in-firstname{
    margin-left: 38px;
  }
  div#lastname.form-group{
    margin:0;
    width: 100%;
    display:inline-block;
    float:left;
    margin-top: 10px;
  }
}
