/*.nav > li > a{
  position:relative;
  display:block;
  padding:50px 50px;
}*/

.container{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:30px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff;
}

.regisheader{
  text-align:center;
}

@media (min-width:768px) {
  h1{
    margin:0 0;
    font-size:60%;
    text-align:center;
    background-color:#c0dfd9;
    width:90%;
    margin-left:6%;
    padding-top:3%;
    margin-top:4%;
  }
}

div.row.ek{
  margin:20px 0;
}

div.row.space_top{
  margin:20px 0 0 0;
}

div.plam{
  border-color:#c0dfd9;
  border-style:solid;
  border-width:1px;
  height:auto;
  width:84%;
  margin-left:8%;
  border-radius:5px;
  margin-bottom:70px;
}

@media (max-width:360px) {
  div.col-md-5.col-md-offset-1.col-sm-6.col-sm-offset-1.regisheader{
    width:40%;
    background-color:#c1ebe6;
    border-radius:5px;
  }
}

.container p{
  font-size:16px;
  padding-left:40px;
  padding-top:20px;
}

input#input_username{
  width:170px;
  height:30px;
  margin-top:16px;
  font-size:20px;
}

div.teub{
  height:10px;
  background-color:#8dd9ca;
  border-radius:5px;
  width:100%;
}

div.col-md-3{
  height:42px;
  width:165px;
}

@media (min-width:768px) {
  div.plamm{
    height:45px;
    margin-left:8%;
    width:22%;
    background-color:#c0dfd9;
    margin-top:5%;
    text-align:center;
    border-radius:5%;
  }
}

.text-muted{
  color:#3b3a36;
}

@media (min-width:768px) {
  div.us{
    width:65%;
    height:40px;
  }
}

span.us{
  margin-left:25px;
  font-size:16px;
  width:20%;
  color:#3b3a36;
}

input.us.in{
  height:30px;
  width:250px;
  margin-left:35px;
  margin-top:20px;
}

div.u1{
  height:60px;
}

input.usin{
  height:30px;
  margin:30px 0 0 20px;
  border-radius:5px;
}

input.in{
  height:30px;
  margin-top:5px;
  width:150px;
  font-size:16px;
  color:#3b3a36;
  border-radius:5px;
}

div.col-md-2{
  height:42px;
  width:135px;
}

.row{
  height:42px;
  width:100%;
  margin-left:2px;
}

span.idcard{
  font-size:16px;
  margin-left:25px;
  color:#3b3a36;
}

@media (min-width:768px) {
  input.inid{
    width:70%;
  }
}

span.mr{
  font-size:16px;
  margin-left:25px;
  color:#3b3a36;
}

@media (min-width:768px) {
  input.inmr{
    width:79%;
  }
}

div.col-md-1{
  height:42px;
  width:65px;
}

span.name{
  font-size:16px;
  color:#3b3a36;
}

div.col-md-1.colname{
  width:50px;
  height:42px;
}

@media (min-width:768px) {
  input.inname{
    width:71%;
    margin:10px;
  }
}

span.lastname{
  font-size:16px;
  color:#3b3a36;
}

div.col-md-2.collastname{
  width:85px;
}

div.col-md-5.colinlastname{
  height:42px;
}

input.inlastname{
  height:30px;
  margin-left:5px;
  font-size:16px;
  color:#3b3a36;
  width:270px;
  border-radius:5px;
}

span.birthday{
  font-size:16px;
  margin-left:25px;
  color:#3b3a36;
}

input.inbirthday{
  height:30px;
  width:130px;
  margin-top:5px;
  font-size:16px;
  color:#3b3a36;
  border-radius:5px;
}

span.old{
  font-size:16px;
}

div.col-md-2.colbirthday{
  width:160px;
}

inputLive{
  font-size:16px;
  color:#3b3a36;
  border-radius:5px;
  height:30px;
  margin-left:10px;
  padding:5px;
}

input{
  font-size:16px;
  color:#3b3a36;
  border-radius:5px;
  height:30px;
  padding:5px;
}

@media (min-width:768px) {
  input.inold{
    width:55%;
    margin-left:10px;
  }
}

.container span{
  font-size:16px;
  color:#3b3a36;
  align-items:center;
}

@media (min-width:768px) {
  input.insex{
    width:50%;
    margin-left:10px;
  }
}

div.col-md-2.colblood{
  width:85px;
}

@media (min-width:768px) {
  input.inblood{
    width:45%;
    margin-left:10px;
  }
}

div.col-md-4.colinlastname{
  width:350px;
}

div.col-md-3.colid{
  width:170px;
}

div.col-md-9{
}

div.col-md-1.colbirthday{
  width:100px;
}

div.col-md-1.colold{
  width:110px;
}

div.col-md-2.colinlastname{
  width:300px;
}

@media (min-width:768px) {
  div.col1{
    width:95%;
    height:40px;
    position:relative;
  }
}

@media (min-width:1024px) {
  div.id{
    width:75%;
  }
}

@media (min-width:768px) {
  div.mr{
    width:14%;
    float:left;
    display:inline-block;
  }
}

@media (min-width:768px) {
  div.name{
    width:33%;
    float:left;
    display:inline-block;
  }
}

@media (min-width:768px) {
  input.inuser{
    width:30%;
  }
}

@media (min-width:768px) {
  input.inbirth{
    width:91%;
  }
}

@media (min-width:768px) {
  div.dbir{
    width:28%;
  }
}

.container div{
  display:inline-block;
  /*height:40px;*/
}

div.teub div, div.marr div {
  float:left;
}

@media (min-width:768px) {
  div.dold{
    width:17%;
  }
}

@media (min-width:768px) {
  div.dlok{
    width:47%;
  }
}

div.dtel{
  width:97%;
}

@media (min-width:768px) {
  div.demername{
    width:60%;
  }
}

@media (min-width:768px) {
  div.dtelmer{
    width:38%;
  }
}

@media (min-width:1024px) {
  button.btn.btn-default.button{
    margin-left:39%;
    color:#3b3a36;
    width:18%;
    height:50px;
    font-size:16px;
  }
}

@media (min-width:768px) {
  div.daccept{
    width:100%;
    margin-left:32%;
    height:60px;
  }
}

@media (min-width:768px) {
  div.marr{
    width:100%;
    height:auto;
    margin-left:35px;
  }
}

@media (min-width:768px) {
  input.insurname{
    width:65%;
    margin:10px;
  }
}

@media (min-width:768px) {
  div.surname{
    width:38%;
  }
}

@media (min-width:768px) {
  div.dsex{
    width:17%;
  }
}

@media (min-width:768px) {
  div.dblood{
    width:22%;
  }
}

@media (min-width:768px) {
  span.plamplamplam{
    display:inline-block;
    float:left;
    margin:8px 0 0 10px;
    font-size:13px;
  }
}

@media (min-width:768px) {
  input.inputplamplamplam{
    display:inline-block;
    float:left;
    width:16px;
  }
}

div.col1.confirmcheckbox{
  text-align:center;
  height:40px;
}

@media (min-width:768px) {
  input.innational{
    width:83%;
  }
}

@media (min-width:768px) {
  div.dnational{
    width:13%;
  }
}

@media (min-width:768px) {
  div.dnationn{
    width:24%;
  }
}

@media (min-width:768px) {
  input.innationn{
    width:45%;
    margin-left:10px;
  }
}

@media (min-width:768px) {
  div.dregion{
    width:22%;
  }
}

@media (min-width:768px) {
  input.inregion{
    width:46%;
    margin-left:10px;
  }
}

@media (min-width:768px) {
  div.dnow{
    width:27%;
  }
}

input.innow{
  width:147px;
  margin-left:10px;
}

@media (min-width:768px) {
  div.dcareer{
    width:28%;
  }
}

@media (min-width:768px) {
  input.incareer{
    width:82%;
  }
}

@media (min-width:768px) {
  div.dlive{
    width:58%;
  }
}

@media (min-width:768px) {
  input.inlive{
    width:82%;
    margin-left:10px;
  }
}

div.dlive2{
  width:100%;
}

@media (min-width:768px) {
  input.inlive2{
    width:94.3%;
  }
}

@media (min-width:768px) {
  input.inlok{
    width:50%;
    margin-left:10px;
  }
}

@media (min-width:768px) {
  div.demail{
    width:50%;
  }
}

@media (min-width:768px) {
  input.inemail{
    width:77%;
    margin-left:10px;
  }
}

input.intel{
  width:19%;
  margin-left:35px;
}

div.d{
  width:700px;
}

div.dfather{
  width:97%;
}

input.infather{
  margin-left:20px;
  width:34%;
}

div.dmother{
  width:97%;
}

input.inmother{
  width:34%;
  margin-left:5px;
}

@media (min-width:768px) {
  input.inemername{
    width:55%;
    margin-left:13.3px;
  }
}

@media (min-width:768px) {
  input.intelmer{
    margin-left:10px;
    width:49%;
  }
}

@media (min-width:768px) {
  div.demerlive{
    width:99%;
  }
}

@media (min-width:768px) {
  input.inemerlive{
    margin-left:10px;
    width:56.3%;
  }
}

@media (min-width:768px) {
  input.incon{
    width:60%;
  }
}

input.inpass{
  width:400px;
  margin-left:100px;
}

@media (min-width:768px) {
  input.inpassword{
    width:60%;
  }
}

select.inold{
  width:147px;
  margin-left:10px;
  font-size:16px;
  color:#3b3a36;
}

select#INow.innow{
  width:147px;
  margin-left:10px;
  font-size:16px;
  color:#3b3a36;
}

@media (min-width:768px) {
  select#iNow.innow{
    font-size:16px;
    margin-left:10px;
    color:#3b3a36;
    width:39.5%;
    border-radius:5px;
  }
}

div.ddus{
  width:170px;
}

div.ddpass{
  width:170px;
}

div.ddcon{
  width:170px;
}

span.ddidcard{
  width:170px;
}

div.ddidcard{
  width:170px;
}

@media (min-width:768px) {
  div.ddmr{
    width:12%;
  }
}

@media (min-width:768px) {
  div.ddend{
    width:5%;
    background-color:#000;
  }
}

/* เอามาจาก member.css */
@media (min-width:361px) {
  div.col-md-5.col-md-offset-1.col-sm-6.col-sm-offset-1.regisheader{
    width:20%;
    background-color:#c1ebe6;
    border-radius:5px;
  }
}

@media (min-width:1024px) {
  input.inuser{
    width:30%;
  }
}

@media (min-width:1024px) {
  input.inpassword{
    width:50%;
  }
}

@media (min-width:1024px) {
  div.us{
    width:77%;
    height:40px;
  }
}

@media (min-width:1024px) {
  input.incon{
    width:50%;
  }
}

@media (min-width:1024px) {
  div.plamm{
    height:45px;
    margin-left:8%;
    width:22%;
    background-color:#c0dfd9;
    margin-top:5%;
    text-align:center;
    border-radius:5px;
  }
}

@media (min-width:1024px) {
  h1{
    margin:0 0;
    font-size:78%;
    text-align:center;
    background-color:#c0dfd9;
    width:90%;
    margin-left:6%;
    padding-top:3%;
    margin-top:2%;
  }
}

@media (min-width:1024px) {
  input.inid{
    width:30%;
  }
}

@media (min-width:1024px) {
  input.inmr{
    width:75%;
  }
}

@media (min-width:1024px) {
  div.ddmr{
    width:9.5%;
  }
}

@media (min-width:1024px) {
  div.mr{
    width:12%;
    float:left;
    display:inline-block;
  }
}

@media (min-width:1024px) {
  div.name{
    width:37%;
    float:left;
    display:inline-block;
  }
}

@media (min-width:1024px) {
  input.inname{
    width:70%;
    margin:10px;
  }
}

@media (min-width:1024px) {
  div.surname{
    width:40%;
  }
}

@media (min-width:1024px) {
  input.insurname{
    width:70%;
    margin:10px;
  }
}

@media (min-width:1024px) {
  div.col1{
    width:94%;
    height:40px;
    position:relative;
  }
}

@media (min-width:1024px) {
  div.marr{
    width:100%;
    height:auto;
    margin-left:50px;
  }
}

@media (min-width:1024px) {
  div.ddend{
    width:7%;
    background-color:#000;
  }
}

@media (min-width:1024px) {
  input.inbirth{
    width:77%;
  }
}

@media (min-width:1024px) {
  div.dbir{
    width:25%;
  }
}

@media (min-width:1024px) {
  input.inold{
    width:49%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.dold{
    width:18%;
  }
}

@media (min-width:1024px) {
  div.dsex{
    width:19%;
  }
}

@media (min-width:1024px) {
  input.insex{
    width:49%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  input.inblood{
    width:63%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.dblood{
    width:24%;
  }
}

@media (min-width:1024px) {
  input.innational{
    width:75%;
  }
}

@media (min-width:1024px) {
  div.dnational{
    width:15%;
  }
}

@media (min-width:1024px) {
  input.innationn{
    width:52%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.dnationn{
    width:26%;
  }
}

@media (min-width:1024px) {
  input.inregion{
    width:53%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.dregion{
    width:24%;
  }
}

@media (min-width:1024px) {
  select#iNow.innow{
    font-size:16px;
    margin-left:10px;
    color:#3b3a36;
    width:42.5%;
    border-radius:5px;
  }
}

@media (min-width:1024px) {
  div.dnow{
    width:25%;
  }
}

@media (min-width:1024px) {
  input.incareer{
    width:80%;
  }
}

@media (min-width:1024px) {
  div.dcareer{
    width:26%;
  }
}

@media (min-width:1024px) {
  input.inlive{
    width:86.5%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.dlive{
    width:62%;
  }
}

@media (min-width:1024px) {
  input.inlive2{
    width:93.6%;
  }
}

@media (min-width:1024px) {
  input.inlok{
    width:60%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.dlok{
    width:43%;
  }
}

@media (min-width:1024px) {
  input.inemail{
    width:82.6%;
    margin-left:10px;
  }
}

@media (min-width:1024px) {
  div.demail{
    width:54%;
  }
}

@media (min-width:1024px) {
  input.inemername{
    width:52.3%;
    margin-left:13.3px;
  }
}

@media (min-width:1024px) {
  div.demername{
    width:63%;
  }
}

@media (min-width:1024px) {
  input.intelmer{
    margin-left:10px;
    width:55.6%;
  }
}

@media (min-width:1024px) {
  div.dtelmer{
    width:35%;
  }
}

@media (min-width:1024px) {
  input.inemerlive{
    margin-left:10px;
    width:65.4%;
  }
}

@media (min-width:1024px) {
  div.demerlive{
    width:99.5%;
  }
}

@media (min-width:1024px) {
  div.daccept{
    width:680px;
    margin-left:33%;
    height:60px;
  }
}

@media (min-width:1024px) {
  span.plamplamplam{
    display:inline-block;
    float:left;
    margin:8px 0 0 10px;
    font-size:16px;
  }
}

@media (min-width:1024px) {
  input.inputplamplamplam{
    display:inline-block;
    float:left;
    width:20px;
  }
}

@media (min-width:768px) {
  button.btn.btn-default.button{
    margin-left:37%;
    color:#3b3a36;
    width:15%;
    height:50px;
    font-size:13px;
  }
}
