div.box-border{
  border-color:#c0dfd9;
  border-style:solid;
}

div.edge-top{
  background-color:#8dd9ca;
  height:5px;
}

div.box-all-content{
  margin:5% 0 10% 20%;
  width:60%;
  height:auto;
}

div.box-indent{
  margin-left:5%;
}

@media (min-width:360px) {
  div.button-accept{
    height:30px;
    width:100px;
    border-color:#c0dfd9;
    border-style:solid;
    margin:5% 0 5% 24.5%;
  }
}

@media (min-width:768px) {
  div.button-accept{
    height:35px;
    width:120px;
    border-color:#c0dfd9;
    border-style:solid;
    margin:5% 0 5% 35.5%;
  }
}

@media (min-width:1024px) {
  div.button-accept{
    height:40px;
    width:140px;
    border-color:#c0dfd9;
    border-style:solid;
    margin:5% 0 5% 36.5%;
  }
}

@media (min-width:360px) {
  h1.box-heading{
    font-size:90%;
    text-align:center;
    padding-top:13px;
    color:#3b3a36;
  }
}

@media (min-width:768px) {
  h1.box-heading{
    font-size:150%;
    text-align:center;
    padding-top:13px;
    color:#3b3a36;
  }
}

@media (min-width:1024px) {
  h1.box-heading{
    font-size:180%;
    text-align:center;
    padding-top:13px;
    color:#3b3a36;
  }
}

div.box-background-heading{
  background-color:#c0dfd9;
  height:17%;
  width:38%;
  vertical-align:middle;
  border-radius:5px;
}

div.row.row-username{
  margin-top:10px;
}

span.box-span{
  color:#3b3a36;
  font-size:100%;
}

input.input-username{
  width:40%;
  border-radius:5px;
}

input.input-id-card{
  border-radius:5px;
  width:25%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom:5px;
}

input.input-name-title{
  border-radius:5px;
  width:13%;
}

input.input-name{
  border-radius:5px;
  width:40%;
}

input.input-age{
  border-radius:5px;
  width:10%;
}

input.input-gender{
  border-radius:5px;
  width:15%;
}

input.input-blood-type{
  border-radius:5px;
  width:16%;
}

input{
  line-height:normal;
  border-radius:5px;
  color:#3b3a36;
  height:25px;
  font-size:18px;
}

input.input-rh{
  width:14%;
}

input.input-address{
  width:85%;
}

input.input-email{
  width:50%;
}

div.input-indent-vertical{
  height:20px;
}

input.input-name-parents{
  width:70%;
}

input.input-race{
  width:20%;
}

input.input-congenital-disease{
  width:60%;
}

input.input-telphone-number{
  width:40%;
}

@media (min-width:360px) {
  label.box-accept-edit{
    color:#3b3a36;
    width:96%;
    font-size:12px;
    text-align:center;
  }
}

@media (min-width:768px) {
  label.box-accept-edit{
    color:#3b3a36;
    width:96%;
    font-size:13px;
    text-align:center;
  }
}

@media (min-width:1024px) {
  label.box-accept-edit{
    color:#3b3a36;
    width:96%;
    font-size:16px;
    text-align:center;
  }
}

input.input-career{
  width:80%;
}

@media (min-width:360px) {
  span.label-edit{
    padding:0 0 0 12px;
    font-size:15px;
  }
}

@media (min-width:768px) {
  span.label-edit{
    padding:0 0 0 13px;
    font-size:19px;
  }
}

@media (min-width:1024px) {
  span.label-edit{
    padding:0 0 0 19px;
    font-size:21px;
  }
}

input.input-birthday-day{
  width:14%;
}

input.input-birthday-month{
  width:14%;
}

input.input-birthday-year{
  width:18%;
}

